@{
  ViewData["Title"] = "Home Page";
}

@model Bakery.Models.Treat

<h2>Add a treat for @User.Identity.Name</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.TreatName)
  @Html.TextBoxFor(model => model.TreatName)

  <input type="submit" value="Add treat" class="btn btn-danger" id="add_treat_btn"/>
}

<p>@Html.ActionLink("Treat list", "Index")</p>